
<!DOCTYPE html>
<html lang="es">
<head>
	<base target="_top">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Quick Start - Leaflet</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" ></script>
	<!--estilo del mapa-->
	<link rel="stylesheet" href="/css/main.css"/>
</head>
<body>
	<div id="map" class="map"></div>
</body>
</html>

<script src="/js/main.js"></script>