<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>
    <title>Document</title>
    <link rel="stylesheet" href="/css/style_map.css">
</head>
<body>
    <%- include("../views/header"); %> 
    <%- include("../views/toolbar"); %> 
    <div id="map" class="map"></div>
</body>
</html>
<script src="/js/main.js"></script>
<script src="/js/script_map.js"></script>